ALTER TABLE merchants ADD COLUMN IF NOT EXISTS logo_url TEXT;
ALTER TABLE invoices ADD COLUMN IF NOT EXISTS allow_partial_payment BOOLEAN DEFAULT false;
ALTER TABLE invoices ADD COLUMN IF NOT EXISTS partial_payment_pct NUMERIC;
